.header {
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0rem 5rem;
    // margin-top: -2rem;
    width: 100%;
    background: #fff;
    z-index: 7;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

    @include respond(phone) {
        padding: 0rem 1rem;
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;

    @include respond(tab-land) {
       height: 7rem;
    }
    

    &__icon {
        width: 4rem;
        height: 4rem;
        fill: #5680e9;
    }

    &__text {
        font-size: 2.2rem;
        color: #5680e9;
        // font-family: 'Audiowide', cursive;
        font-family: 'Titillium Web', sans-serif
    }
}

.nav {
    ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

    li {
        padding: 2rem 1rem;
    }

    a {
        font-size: 1.5rem;
        text-decoration: none;
        color: #5680e9;
        font-weight: bold;
        margin: 0rem .5rem;
        // #141823
    }

    @include respond(tab-land) {
        display: none;
    }
}

// Menu bars /////////////////////

/* Overlay */
.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // background-color: rgba(0, 0, 0, 0.7);
    // background: #fff;
    background-color: #f3e6e8;
    background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
    
    transform: translateX(-100vw);

    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        list-style: none;
    }

    &__item {
        height: 20%;
        overflow: hidden;
        margin: 2rem 0rem;

        a {
            font-family: 'Titillium Web', sans-serif;
            position: relative;
            font-size: 2.2rem;
            color: #5680e9;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-decoration: none;
            display: block;
            font-weight: bold;
            text-align: center;

        }

        
    }
}

.overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
}
  
.overlay-slide-left {
    transition: all 0.8s ease-in-out;
    transform: translateX(-100vw);
}

.menu-bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 9999;
    display: none;
    cursor: pointer;

    @include respond(tab-land) {
        display: inline;
    }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #5680e9;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

////////////////////////////////////////////////////////////

.heading {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.btn {
    &,
    &:link {
        font-size: 1.6rem;
        padding: .8rem 1rem;
        border-radius: 5px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        position: relative;
        border: none;
        cursor: pointer;
        transition: all .2s;
    }

    &--green {
        background: #43b02a;
    }

    &--blue {
        background: #5680e9;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10rem 20rem rgba(#333,.2);
    }
}

.product__head {
    margin: 1rem 0rem;
    text-align: center;

    &--title {
        font-size: 2rem;
        color: #333;
    }
}

.product {
    display: grid;
    grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8,
    [col-start] minmax(min-content, 30rem) [col-end]) [center-end] minmax(10rem, 1fr) [full-end];

    @include respond(phone) { // width < 900?
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8,
    [col-start] minmax(min-content, 30rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }
    

    &__list {
        
        display: grid;
        grid-column: center-start / center-end;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
        grid-gap: 5rem;

        @include respond(phone) {
            grid-template-columns: repeat(auto-fit, minmax(25rem, 35rem));
        }     
    }

    &__item {
        background: #fff;
        
        border-radius: 5px;
        box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

          

        img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 100%;
            height: auto;
        }

        &--name {
            font-size: 2.2em;
            margin-top: .5rem;
            color: #5680e9;
            text-align: center;
        }

        &--cost {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 2rem;
            color: #5cdb95;

        }
        
    }

    &__icon {
        width: 2.4em;
        height: 2.4rem;
        margin-left: -.5rem;
        fill: #5cdb95;
    }

    &__details {
        text-align: center;
        margin: 1rem 0rem;
        
    }
}


/////////////////////////////////////

// PRODUCT DETAILS
.details {
    display: flex;
    margin-top: -7rem;


    &__box {
        flex: 0 0 32%;
        
        margin-right: 1rem;

        img {
            width: 90%;
            border-radius: 5px;
            box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        }

    }

    &__info {
        width: 90%;
        margin-top: 1.5rem;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

        &--head {
            padding: 1rem 1.5rem;
            border-bottom: 2px solid #5680e9;
            font-size: 1.7rem;
        }

        &--body {
            padding: 1rem 1.5rem;
            font-size: 1.5rem;
        }

        &--item {
            display: flex;
            align-items: center;
            margin: 1rem 0rem;
            // border-bottom: 2px solid #333;

            p {
                font-size: 1.6rem;
            }
        }

        &--icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            fill: #5680e9;
        }
    }

    &__desc {
        margin-top: 8rem;
        flex: 1;

        h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        &--text {
            margin-top: 2rem;
            margin-bottom: 3rem;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        }

        &--head {
            padding: 1rem 1.5rem;
            border-bottom: 2px solid #5680e9;
            font-size: 1.7rem;
        }

        &--body {
            padding: 1rem 1.5rem;
            font-size: 1.6rem;
        }
    }

    &__images {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto auto;

        img {
            width: 20rem;
            border-radius: 5px;
            margin: 0rem .2rem;

            &:hover {
                transition: transform .2s;
                transform: scale(1.7);
                box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
            }
        }

    }

    &__contact {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        margin-top: -1rem;
        margin-bottom: 5rem;

        h3 {
            padding: 1rem 3rem;
            font-size: 1.9rem;
        }
    }

    &__flex {
        display: flex;
        padding: .5rem 3rem;

        &--1 {
            flex: 0 0 40%;
            margin-right: 2rem;
        }

        &--2 {
            flex: 1;
        }
    }

    &__group {
        width: 100%;
        margin: 1rem 0rem;

        

        label {
            display: block;
            color: #333;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: .3rem;
        }

        input {
            font-family: "Lato", sans-serif;
            padding: 1.2rem;
            height: 2.7em;
            font-size: 1.5rem;
            color: #333;
            width: 100%;
            background: #eee;
            border: none;
            outline: none;
            border-radius: 5px;
            margin: .5rem 0rem;
            
        }

        textarea {
            font-family: "Lato", sans-serif;
            width: 100%;
            border: none;
            outline: none;
            border-radius: 5px;
            background: #eee;
            font-size: 1.5rem;
            padding: 1.2rem;
        }
    }

    &__btn {
        cursor: pointer;
        margin-top: 1rem;
        display: inline-block;
        width: 100%;
        border: none;
        padding: 1.2rem;
        font-size: 1.5rem;
        border-radius: 5px;
        color: #fff;
        background: #5680e9;
        transition: all .2s;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10rem 20rem rgba(#333,.2);
        }
    }
}